week2/calclient/src/conf/xml-resources/web-service-references/calculator_1/wsdl/localhost_8080/calculatorwebservice/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unque.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unque.com/" name="calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://unque.com/" schemaLocation="http://localhost:8080/calculatorwebservice/calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="getnum">
<part name="parameters" element="tns:getnum"/>
</message>
<message name="getnumResponse">
<part name="parameters" element="tns:getnumResponse"/>
</message>
<portType name="calculator">
<operation name="sub">
<input wsam:Action="http://unque.com/calculator/subRequest" message="tns:sub"/>
<output wsam:Action="http://unque.com/calculator/subResponse" message="tns:subResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://unque.com/calculator/mulRequest" message="tns:mul"/>
<output wsam:Action="http://unque.com/calculator/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://unque.com/calculator/divRequest" message="tns:div"/>
<output wsam:Action="http://unque.com/calculator/divResponse" message="tns:divResponse"/>
</operation>
<operation name="getnum">
<input wsam:Action="http://unque.com/calculator/getnumRequest" message="tns:getnum"/>
<output wsam:Action="http://unque.com/calculator/getnumResponse" message="tns:getnumResponse"/>
</operation>
</portType>
<binding name="calculatorPortBinding" type="tns:calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getnum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calculator">
<port name="calculatorPort" binding="tns:calculatorPortBinding">
<soap:address location="http://localhost:8080/calculatorwebservice/calculator"/>
</port>
</service>
</definitions>